body{
  color:blue;
}

.digital p{
  background-color: gold;
}

body p{
  color: green;
}

.digital p a{
  font-size: 50pt;
}

p{
  font-size: 25pt;
}
.intro {
  color: red;
}

#line2 {
  color: red;
}
